.app-header {
  font-size: 70px;
  text-align: center;
  color: rgb(7, 68, 55);
}
.text-center {
  font-size: 12px;
  color: rgba(16, 65, 54, 0.719);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
