.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(8, 48, 39);
}

.Meaning .example {
  font-size: 15px;
  opacity: 0.8;
  font-style: italic;
  color: rgba(28, 90, 77, 0.815);
}
